.submitbutton {
/*	margin-left: 120px;*/
/*	margin-top: 5px;*/
/*	width: 90px;*/
}

.buttons input {
    background: #fff;
    border: 0;
    color: #333;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
	width: 90px;
    overflow: visible;
    padding: 2px 6px;
}
.buttons input.delete {
    background: transparent url(../images/skin/database_delete.png) 5px 50% no-repeat;
/*    padding-left: 28px;*/
}
.buttons input.edit {
    background: transparent url(../images/skin/database_edit.png) 5px 50% no-repeat;
/*    padding-left: 28px;*/
}
.buttons input.save {
    background: transparent url(../images/skin/database_save.png) 5px 50% no-repeat;
/*    padding-left: 28px;*/
}
